.container-item {
    display: flex;
    justify-content: center;
}

.TodoItem {
    background-color: #d4d7ed;
    position: relative;
    display: flex;
    justify-content: center;
    width: 75%;
    align-items: center;
    margin-top: 24px;
    border-radius: 8px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.TodoItem--complete {
    background-color: #321e454c;
}

.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 200px);
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    margin-right: 12px;
}

.TodoItem-p--complete {
    text-decoration: line-through;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
}

.Icon-check {
    position: absolute;
    left: 12px;
    top: 12px;
    margin-bottom: 20px;
    transform: scale(1.2);
}

.Icon-check--active {
    color: #4caf50;
}

.Icon-delete {
    position: absolute;
    top: -18px;
    right: 0;/* 
    background-color: #321e45;
    border-radius: 50%; */
    color: #321e45;
    transform: scale(1.5);
}

.Icon-delete:hover {
    color: #88366b;
}

@media (max-width: 480px) {
    .container-item {
        width: 360px;
        margin: 0 auto;
    }

    .TodoItem {
        width: 90%;
    }

    .TodoItem-p {
        width: calc(100% - 110px);
        font-size: 1.1em;
        margin-left: 0px;
    }

    .Icon-check {
        transform: scale(1);
        left: 6px;
    }

    .Icon-delete {
        transform: scale(1.35);
    }
}