.TodoCounter {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
}


/* .color1 {color: #321e45;}
.color2 {color: #88366b;}
.color3 {color: #2092d8;}
.color4 {color: #d4d7ed;}
.color5 {color: #f8efed;}*/