.container{ 
    display: flex;
    justify-content: center;
    width: 640px;
    margin: 0 auto;
}

.TodoSearch {
    background: #d4d7ed;
    border-radius: 6px;
    border: 2px solid #321e45;
    margin: 0 24px;
    height: 64px;
    width: calc(100%-62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Mukta';
    font-weight: 400;
    color: #88366b;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    margin-top: -20px;
    margin-bottom: 20px;
}

.TodoSearch::placeholder {
    color: #88366b;
    font-family: 'Mukta';
    font-weight: 400;
}

.TodoSearch:focus {
    outline: thin dotted;
    outline-color: #88366b;
    outline-width: 1.5px;
    outline-offset: 1px;
}